body, h1, p {
    margin: 100;
    padding: 20;
}

body {
    font-size: x-large;
    font-display: auto;
    line-height: 1.6;
    /* first background image */
    background-image: url("Images/images.jpg"), url("Images/background-roasted-fresh-brown-coffee-beans-perfect-cool-wallpaper_181624-9592.avif");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position property if needed for each image */

    /* Other styles for the body element */
    font-family: 'Courier New', Courier, monospace, sans-serif;
    color: #480f0f;
    margin: 0;
    padding: 0;
    height: 150vh; /*  height of the body to cover the viewport */
}

.search-container {
    position: relative;
    margin: 20px auto;
    max-width: 400px;
}

#search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

#search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ccbcbc;
    box-shadow: 0 4px 8px rgba(155, 126, 126, 0.1);
    list-style: none;
    padding: 0;
    display: none;
}

#search-results li {
    padding: 10px;
    cursor: pointer;
}

#search-results li:hover {
    background-color: #c09999;
}
