body, h1, h2 {
    display: block;
    margin: 100px;
    padding: 20px;
    color: black;
    text-align: center;
    font-weight: bold;
}

p, ol, li {
    margin: 50px;
    padding: 20px;
    color: rgb(22, 20, 20);
    text-align: left;
}

body {
    line-height: 1.6;
    /* first background image */
    background-image: url("Images/hot-coffee-table-winter-background_180633-1690.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background: position 1000fr;
    text-align: center;
    /* background-position property if needed for each image */

    /* Other styles for the body element */
    font-family: 'Courier New', Courier, monospace, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    height: 150vh; /* height of the body to cover the viewport */
}
body {
    text-align: center;
  }

  h1 {
    font-weight: bold;
    animation: flashing 2s infinite;
    margin: 0;
    padding: 0;
  }

  h2 {
    font-weight: bold;
    animation: flashing 2s infinite;
    margin: 0;
    padding: 0;
  }

  @keyframes flashing {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }

/* CSS for the search box */
#search-box {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    z-index: 9999;
}

#search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: right;
}

#search-results {
    position: relative;
    top: 100%;
    nav-right: 50;
    width: 60%;
    background-color: #e8dfdf;
    box-shadow: 0 4px 8px rgba(155, 126, 126, 0.1);
    list-style: none;
    padding: 0;
    display: none;
}
#section p {
    flex: 3;
    text-align: justify;
  }
#search-results li {
    padding: 10px;
    cursor: pointer;
}

#search-results li::content {
    background-color: #c9a4a4;
}

/* Updated styles for the images */
.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-items: center; /* Center images horizontally */
}

.equal-size-image {
    width: 100%;
    height: auto;
    max-height: 200px;
}

/* Additional style for the ID containing the four coffee images */
#four-coffees-container {
    display: flex;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}
